<div class="jumbotron">
<div class="formwidth">
<div class="text-center lead"><h3><a1> EDIT BOOK NAME </a1></div>

<CENTER>
<%= simple_form_for @list do |f| %>
<%= f.input :name, label: '-' %>
<%= f.button :submit %>
</center>

<% end %>

<br>
<div class="text-center lead"><H3><%= link_to 'BACK HOME', lists_path %></H3></div>
</div>
</div>
