.formwidth {
  width: 30%;
  margin: 0px auto;
}

.task-title {
  color: black;
}

.statusfont {
  size: 10px;
}

.formcolor {
  font-family: 'Dancing Script', cursive;
  color: black;
}

.jumbocolor {
  background-color: #ededed;
}

.lead {
  font-family: 'Cinzel', serif;
  font-size: 20px;

}

.title {
  font-family: 'Cinzel', serif;
  font-size: 20px;
}
